html,body {
    width: 500px;
    min-width: 100%;
    height: 100%;
}
#container {
	width:100%;
	height:100%;
}
.border{
	border:1px solid #000;
}
.tower{
	background-color:#49311C;
	height:400px;
	width:40px;
	border-radius:5px;
	float:left;
	margin:50px;
	margin-left: 100px;
	top:50px;
	position:relative;
}
input{
	border-radius:5;
}
.discs{
	background-color:red;
	height:30px;
	border: 1px solid black;
	border-radius: 5px;
	position:absolute;
}
#d1{
	width:60px;
	top:381px;
	left:96px;
}
#d2{
	width:75px;
	top:410px;
	left:88px;
}
#d3{
	width:100px;
	top:440px;
	left:76px;
}
#d4{
	width:125px;
	top:470px;
	left:64px;
}
#debug{
	display:none;
}
#turns{
	font-weight: bold;
	position:absolute;
	top:550px;
	left:100px;
	font-size: 25px;
}
#counter{
	font-weight: bold;
	margin-left: 15px;
}

#reset{
	position:absolute;
	top:550px;
	left:400px;
	border-radius: 1px;
	font-size: 25px;
}

h2{
	position:absolute;
	top:630px;
	left:170px;
	color: red;
}
h1{
	position:absolute;
	top:580px;
	left:120px;
}
